altgraph==0.17.5
comtypes==1.4.16
et_xmlfile==2.0.0
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==3.0.3
pefile==2024.8.26
pillow==12.2.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pynput==1.8.2
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
python-dateutil==2.9.0.post0
pywin32==312
pywin32-ctypes==0.2.3
pywinauto==0.6.9
setuptools==82.0.1
six==1.17.0
tzdata==2026.2